<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <link rel="stylesheet" href="~/Content/css/places_list.css" />
        <title>@ViewBag.Title - Trip Planner</title>

        
    </head>
    <body>
        <script src="~/Scripts/js/jquery.min.js"></script>
        <script src="~/Scripts/js/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/js/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/js/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/js/skel.min.js"></script>
        <script src="~/Scripts/js/util.js"></script>
        <script src="~/Scripts/js/main.js"></script>
        @*<script src="~/Scripts/jquery.Storage.js"></script>*@
        @*<script src="~/Scripts/myFunc/findPlaces.js"></script>*@
        @*<script src="~/Scripts/myFunc/infiniteScroll.js"></script>*@

        @*<script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJVSvujFYhKtctLYwPnCSGtIQEcXZ4rXs&callback=initMap&region=RU&libraries=places">
        </script>*@

        <div id="page-wrapper">
            <!-- Header -->
            <div id="header" class="short">

                <!-- Inner -->
                @*<div class="inner">
                    <header>
                        <h1><a href="/Home/Index" id="logo">Trip Planner</a></h1>
                    </header>
                </div>*@

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="/Home/Index" id="logoNav">Trip Planner</a></li>
                        @Html.Partial("_LoginPartial")
                    </ul>                    
                </nav>

            </div>
            @RenderBody()

            <!-- Footer -->
            <div id="footer">
                <div class="container">                    
                    <div class="row">
                        <div class="12u">
                                                       
                            <!-- Copyright -->
                            <div class="copyright">
                                <ul class="menu">
                                    <li>&copy; Trip Planner. Все права защищены.</li>
                                    <li>Контакты: <a href="mailto:annkupriyanova26@gmail.com">annkupriyanova26@gmail.com</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        @*<script type='text/javascript' src='~/Scripts/myFunc/ntsaveforms.js'></script>*@
    </body>
</html>
