@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Trip Planner</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="Scripts/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="Content/css/ie8.css" /><![endif]-->
    </head>
    <body class="homepage">
        <div id="page-wrapper">

            <!-- Header -->
            <div id="header">

                <!-- Inner -->
                <div class="inner">
                    <header>
                        <h1><a href="/Home/Index" id="logo">Trip Planner</a></h1>
                        <hr />
                        <form method="post" action="@Url.Action("Index", "Home")">
                            <input type="text" id="address" name="Address" style="color:white" autofocus required/>
                            <input type="submit" value="ПОЕХАЛИ!" id="Go" />
                            <a href="#banner" class="scrolly">Подробнее</a> 
                        </form>
                    </header>
                    <footer>
                        @*<a href="#banner" class="button circled scrolly">Start</a>*@                    
                    </footer>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </nav>

            </div>

            <!-- Banner -->
            <section id="banner">
                <header>
                    <h2>Добро пожаловать в <strong>Trip Planner</strong>!</h2>
                    <p>
                        Приложение, которое спланирует Ваше идеальное путешествие.
                    </p>
                </header>
            </section>

            <!-- Carousel -->
            <section class="carousel">
                <div class="reel">
                    @{ Html.RenderAction("PopularTrips", "Route");}
                </div>
            </section>    

            <!-- Footer -->
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="12u">
                            
                            <!-- Copyright -->
                            <div class="copyright">
                                <ul class="menu">
                                    <li>&copy; Trip Planner. Все права защищены.</li>
                                    <li>Контакты: <a href="mailto:annkupriyanova26@gmail.com">annkupriyanova26@gmail.com</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- Scripts -->
        <script src="~/Scripts/js/jquery.min.js"></script>
        <script src="~/Scripts/js/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/js/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/js/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/js/skel.min.js"></script>
        <script src="~/Scripts/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Scripts/js/main.js"></script>
      
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJVSvujFYhKtctLYwPnCSGtIQEcXZ4rXs&callback=initAutocomplete&region=RU&libraries=places">
        </script>

        <script>
            function initAutocomplete() {
                var autocomplete = new google.maps.places.Autocomplete(
                   document.getElementById('address'),
                    { types: ['(cities)'] });
            }
        </script>

    </body>
</html>